parameters:
	excludes_analyse:
		- %rootDir%/../../../vendor

	ignoreErrors:
	    - '#Rx\\Observable#'
	    - '#anonymous function has invalid typehint type Rx\\ObserverInterface#'
	    - '#function call_user_func_array expects#'
